<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ondo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;800&display=swap"
    />
  </head>
  <body>
    <div class="gaming-website" id="gamingWebsiteContainer">
      <img class="image-24-1-1" alt="" src="{{ url_for('static', filename='./assets/image-24-1-1@2x.png') }}"
 />

      <div class="gaming-website-child"></div>
      <div class="gaming-website-item"></div>
      <div class="gaming-website-inner"></div>
      <img class="artboard-1-1" alt="" src="{{ url_for('static', filename='./assets/artboard-1-1@2x.png') }}"
 />

      <div class="frame-parent">
        <div class="kaplan-studio-parent">
          <b class="kaplan-studio">KAPLAN STUDIO</b>
          <img class="frame-icon" alt="" src="{{ url_for('static', filename='./assets/frame@2x.png') }}"
 />
        </div>
        <div class="products-parent">
          <div class="products">Products</div>
          <div class="games">Games</div>
          <div class="games">Support</div>
          <div class="games">features</div>
          <div class="about">about</div>
        </div>
        <img class="frame-child" alt="" src="{{ url_for('static', filename='./assets/group-1.svg') }}"
 />
      </div>
      <div class="kaplan-studio-group">
        <b class="kaplan-studio1">KAPLAN STUDIO</b>
        <img class="frame-icon1" alt="" src="{{ url_for('static', filename='./assets/frame1@2x.png') }}"
 />
      </div>
      <div class="frame-group">
        <div class="company-wrapper">
          <div class="products">company</div>
        </div>
        <div class="products-group">
          <div class="youtube-playlist">products</div>
          <div class="apps-games">apps & games</div>
          <div class="contact-us">features</div>
        </div>
      </div>
      <div class="frame-container">
        <div class="company-wrapper">
          <div class="products">help</div>
        </div>
        <div class="support-parent">
          <div class="youtube-playlist">support</div>
          <div class="apps-games">about</div>
          <div class="contact-us">contact us</div>
        </div>
      </div>
      <div class="frame-div">
        <div class="company-wrapper">
          <div class="products">resources</div>
        </div>
        <div class="youtube-playlist-parent">
          <div class="youtube-playlist">youtube playlist</div>
          <div class="apps-games">how to - blog</div>
          <div class="contact-us">terms & conditions</div>
        </div>
      </div>
      <div class="ellipse-div"></div>
      <div class="gaming-website-child1"></div>
      <div class="offer-sneak-peeks-container">
        <span class="offer-sneak-peeks-container1">
          <p class="offer-sneak-peeks">
            Offer sneak peeks and previews of upcoming games,
          </p>
          <p class="including-trailers-screenshot">
            including trailers, screenshots, and information about release.
          </p>
        </span>
      </div>
      <div class="component-1">
        <div class="experience-the-ultimate">
          Experience the ultimate gaming adventure with Kaplan Studio! Dive into
          a world of heart-pounding excitement as we bring you the most
          thrilling games that will keep you hooked for hours of non-stop fun.
        </div>
        <b class="let-your-mind-container">
          <span class="offer-sneak-peeks-container1">
            <p class="let-your-mind">Let your mind</p>
            <p class="including-trailers-screenshot">explore old world</p>
          </span>
        </b>
      </div>
      <b class="choose-your-favorite">choose your favorite games</b>
      <b class="welcome-to-the">Welcome to the kaplan studio </b>
      <div class="vector-parent">
        <img class="frame-item" alt="" src="{{ url_for('static', filename='./assets/rectangle-1@2x.png') }}"
 />

        <b class="buy-now">Buy now</b>
      </div>
      <div class="vector-group">
        <img class="frame-inner" alt="" src="{{ url_for('static', filename='./assets/rectangle-11.svg') }}"
 />

        <b class="play-for-free">Play FOR FREE</b>
      </div>
      <div class="frame-parent1">
        <div class="frame-inner">
          <img class="frame-item" alt="" src="{{ url_for('static', filename='./assets/rectangle-1@2x.png') }}"
 />

          <b class="view-all">View All</b>
        </div>
        <div class="vector-parent1">
          <img class="frame-inner" alt="" src="{{ url_for('static', filename='./assets/rectangle-12.svg') }}"
 />

          <b class="play-now">Play now</b>
        </div>
      </div>
      <div class="frame-parent2">
        <div class="parent">
          <b class="games">30+</b>
          <div class="unique-style">Unique style</div>
        </div>
        <div class="parent">
          <b class="games">20+</b>
          <div class="unique-style">Project finished</div>
        </div>
        <div class="parent">
          <b class="games">500+</b>
          <div class="unique-style">Happy customer</div>
        </div>
      </div>
      <div class="rectangle-parent">
        <img class="frame-child2" alt="" src="{{ url_for('static', filename='./assets/rectangle-5@2x.png') }}"
 />

        <div class="frame-parent3">
          <div class="gaming-spaning-parent">
            <b class="gaming-spaning">Gaming spaning</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
          <div class="action-packed-parent">
            <b class="gaming-spaning">Action - packed</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
          <div class="mind-bending-parent">
            <b class="gaming-spaning">mind - bending</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
          <div class="collection-og-games-parent">
            <b class="gaming-spaning">collection og games</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
        </div>
      </div>
      <div class="rectangle-group">
        <img class="frame-child6" alt="" src="{{ url_for('static', filename='./assets/rectangle-51@2x.png') }}"
 />

        <div class="frame-parent4">
          <div class="gaming-spaning-parent">
            <b class="gaming-spaning">Gaming spaning</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
          <div class="action-packed-parent">
            <b class="gaming-spaning">Action - packed</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
          <div class="mind-bending-parent">
            <b class="gaming-spaning">mind - bending</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
          <div class="collection-og-games-parent">
            <b class="gaming-spaning">collection og games</b>
            <img class="star-icon" alt="" src="{{ url_for('static', filename='./assets/star-14@2x.png') }}"
 />
          </div>
        </div>
      </div>
      <div class="frame-parent5">
        <div class="gaming-spaning-container">
          <b class="gaming-spaning2">Gaming spaning</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-15@2x.png') }}"
 />
        </div>
        <div class="action-packed-container">
          <b class="gaming-spaning2">Action - packed</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-16@2x.png') }}"
 />
        </div>
        <div class="mind-bending-container">
          <b class="gaming-spaning2">mind - bending</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-1@2x.png') }}"
 />
        </div>
        <div class="collection-og-games-container">
          <b class="gaming-spaning2">collection og games</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-18@2x.png') }}"
 />
        </div>
      </div>
      <div class="frame-parent6">
        <div class="gaming-spaning-container">
          <b class="gaming-spaning2">Gaming spaning</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-15@2x.png') }}"
 />
        </div>
        <div class="action-packed-container">
          <b class="gaming-spaning2">Action - packed</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-16@2x.png') }}"
 />
        </div>
        <div class="mind-bending-container">
          <b class="gaming-spaning2">mind - bending</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-1@2x.png') }}"
 />
        </div>
        <div class="collection-og-games-container">
          <b class="gaming-spaning2">collection og games</b>
          <img class="frame-child11" alt="" src="{{ url_for('static', filename='./assets/star-18@2x.png') }}"
 />
        </div>
      </div>
      <img
        class="gaming-website-child2"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-52@2x.png') }}"

      />

      <img
        class="gaming-website-child3"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-20@2x.png') }}"

      />

      <img
        class="gaming-website-child4"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-21@2x.png') }}"

      />

      <img
        class="gaming-website-child5"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-6@2x.png') }}"

      />

      <img
        class="gaming-website-child6"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-14@2x.png') }}"

      />

      <div class="take-part-in">
        Take part in exciting battles with enemies and monsters using a variety
        of weapons and skills.
      </div>
      <img
        class="gaming-website-child7"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-10@2x.png') }}"

      />

      <div class="the-main-plot">
        The main plot will revolve around the main character, who explores the
        past and solves the mysteries associated with the mysterious Creator.
      </div>
      <img
        class="gaming-website-child8"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-15@2x.png') }}"

      />

      <div class="allow-your-character">
        Allow your character to evolve and improve as you progress through the
        game, unlocking new abilities and skills.
      </div>
      <img class="group-icon" alt="" src="{{ url_for('static', filename='./assets/group-1000001738.svg') }}"
 />

      <img
        class="gaming-website-child9"
        alt=""
        src="{{ url_for('static', filename='./assets/group-1000001746.svg') }}"

      />

      <img
        class="gaming-website-child10"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-121@2x.png') }}"

      />

      <img
        class="gaming-website-child11"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-16@2x.png') }}"

      />

      <div class="players-can-choose">
        Players can choose the path of their character in relation to faith and
        mysticism, influencing the development of the plot and the final goals.
      </div>
      <img
        class="gaming-website-child12"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-9@2x.png') }}"

      />

      <img
        class="gaming-website-child13"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-17@2x.png') }}"

      />

      <img
        class="gaming-website-child14"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-111@2x.png') }}"

      />

      <img
        class="gaming-website-child15"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-18@2x.png') }}"

      />

      <img
        class="gaming-website-child16"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-13@2x.png') }}"

      />

      <div class="rectangle-container">
        <img class="group-child" alt="" src="{{ url_for('static', filename='./assets/rectangle-19@2x.png') }}"
 />

        <img class="group-icon1" alt="" src="{{ url_for('static', filename='./assets/group.svg') }}"
 />

        <img class="frame-icon2" alt="" src="{{ url_for('static', filename='./assets/frame2@2x.png') }}"
 />

        <b class="exciting">exciting</b>
        <img class="group-item" alt="" src="{{ url_for('static', filename='./assets/rectangle-32@2x.png') }}"
 />

        <img class="image-27-icon" alt="" src="{{ url_for('static', filename='./assets/image-27@2x.png') }}"
 />

        <img class="group-item" alt="" src="{{ url_for('static', filename='./assets/rectangle-32@2x.png') }}"
 />
      </div>
      <img
        class="gaming-website-child17"
        alt=""
        src="{{ url_for('static', filename='./assets/rectangle-22@2x.png') }}"

      />

      <b class="discover-the-2d">Discover the 2d gaming</b>
      <div class="kaplan-studio-proudly">
        KAPLAN Studio proudly presents Era of Revelation: The Unseen Craftsman,
        where you will delve into a mesmerizing medieval universe. Challenge
        unravel the enigmatic tapestry of the 16th century
      </div>
      <div class="a-well-designed-gaming">
        A well-designed gaming header often incorporates elements such as game
        characters, iconic symbols, vibrant colors, and dynamic visuals .
      </div>
      <div class="vector-parent2">
        <img class="frame-inner" alt="" src="{{ url_for('static', filename='./assets/rectangle-110.svg') }}"
 />

        <b class="play-now1">Play now</b>
      </div>
      <div class="vector-parent3">
        <img class="frame-child20" alt="" src="{{ url_for('static', filename='./assets/rectangle-112@2x.png') }}"
 />

        <div class="era-of-revelation">Era of Revelation</div>
      </div>
      <div class="vector-parent4">
        <img class="frame-child21" alt="" src="{{ url_for('static', filename='./assets/rectangle-113.svg') }}"
 />

        <div class="soon">SOON...</div>
      </div>
      <div class="vector-parent5">
        <img class="frame-child21" alt="" src="{{ url_for('static', filename='./assets/rectangle-114.svg') }}"
 />

        <div class="soon1">SOON...</div>
      </div>
      <div class="vector-parent6">
        <img class="frame-child23" alt="" src="{{ url_for('static', filename='./assets/rectangle-115.svg') }}"
 />

        <div class="soon2">SOON...</div>
      </div>
      <img class="ellipse-icon" alt="" src="{{ url_for('static', filename='./assets/ellipse-15@2x.png') }}"
 />

      <img
        class="gaming-website-child18"
        alt=""
        src="{{ url_for('static', filename='./assets/ellipse-15@2x.png') }}"

      />

      <div class="exploring-the-medieval">Exploring the Medieval World</div>
      <div class="combat-system">Combat System</div>
      <div class="solving-riddles">Solving Riddles</div>
      <div class="hero-development">Hero Development</div>
      <div class="crafting-and-construction">Crafting and Construction</div>
      <div class="exploration-of-mysticism">Exploration of Mysticism</div>
      <div class="ronnie-chowdhury">Ronnie Chowdhury</div>
      <div class="yurii-sytnichenko">Yurii Sytnichenko</div>
      <div class="fullstack-developer">FULLSTACK dEVELOPER</div>
      <div class="developer">DEVELOPER</div>
      <div class="this-game-represents">
        This game represents a labor of love, where we aimed to create an
        immersive medieval world filled with intriguing mysteries and choices
        that truly matter. We hope players will enjoy the captivating
        storytelling, rich visuals, and the freedom to shape their own destinies
        in this 2D gaming adventure.
      </div>
      <div class="the-meticulous-attention">
        The meticulous attention to detail, the engaging narrative, and the
        seamless integration of player choices into the story showcase the
        dedication and talent of the team at KAPLAN Studio. This game is a
        testament to their commitment to delivering exceptional gaming
        experiences.
      </div>
      <img
        class="gaming-website-child19"
        alt=""
        src="{{ url_for('static', filename='./assets/group-1000001745.svg') }}"

      />

      <img
        class="gaming-website-child27"
        alt=""
        src="{{ url_for('static', filename='./assets/group-1000001745.svg') }}"

      />

      <div class="line-div"></div>
      <div class="gaming-website-child20"></div>
      <img class="social-icon" alt="" src="{{ url_for('static', filename='./assets/social.svg') }}"
 />

      <div class="copyright-2023-all">
        © Copyright 2023, All Rights Reserved by KAPLAN STUDIO
      </div>
      <div class="players-will-be">
        Players will be able to travel through picturesque medieval locations,
        discovering the secrets and mysteries of the ancient world.
      </div>
      <div class="players-will-be1">
        Players will be able to create unique items, weapons and buildings using
        resources found in the game world.
      </div>
      <img class="image-25-icon" alt="" src="{{ url_for('static', filename='./assets/image-25@2x.png') }}"
 />

      <img class="gaming-website-child21" alt="" src="{{ url_for('static', filename='./assets/star-10.svg') }}"
 />

      <img class="gaming-website-child22" alt="" src="{{ url_for('static', filename='./assets/star-10.svg') }}"
 />

      <img class="gaming-website-child23" alt="" src="{{ url_for('static', filename='./assets/star-10.svg') }}"
 />

      <img class="gaming-website-child24" alt="" src="{{ url_for('static', filename='./assets/star-10.svg') }}"
 />

      <img class="gaming-website-child25" alt="" src="{{ url_for('static', filename='./assets/star-10.svg') }}"
 />

      <img class="gaming-website-child26" alt="" src="{{ url_for('static', filename='./assets/group-41.svg') }}"
 />
    </div>

    <script>
      var gamingWebsiteContainer = document.getElementById("gamingWebsiteContainer");
      if (gamingWebsiteContainer) {
        gamingWebsiteContainer.addEventListener("click", function (e) {
          //TODO: optimize to dektop
        });
      }
      </script>
  </body>
</html>
